.login-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  
  h2 {
    color: #020202;
    
  }
  
  .form-group {
    margin: 25px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 88%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  input[type="checkbox"] {
   margin-right: 10px;
   
  }
  
  button {
    background-color: #020202;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
  }

  button:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link a {
    color: #007BFF;
    text-decoration: none;
  }